extends layout.pug

block body
    h2 Это контент главной странциы (Block body)
    ul
        each el in tableCaptions
            p #{el}   

        each pr in products
            li
                each el, key in pr
                    span #{key}: #{el}, &#032;



    each el in tableCaptions
        thead #{el}


    form#addProduct(method = "POST")
        input(type = "text" name = "name" placeholder = "Product name")
        select(name = "type")
            option(value = "Fruit") Fruits
            option(value = "Vegetable") Vegetables
            option(value = "Berry") Berries
        input(type="number" name = "b" placeholder = "proteins" step = 0.1 min = 0)
        input(type="number" name = "h" placeholder = "fats" step = 0.1 min = 0)
        input(type="number" name = "u" placeholder = "carbohydrates" step = 0.1 min = 0)
        input(type="number" name = "kcal" placeholder = "kcal" step = 0.1 min = 0)
        button(type = "submit") Add product
    script(src = "/js/addProduct.js")
    