extends layout.pug

block body
    .Screen1
        //- img(src="https://cdn.shopify.com/s/files/1/0990/8672/products/knife-spyderco-swayback-w-seigaiha-motif-titanium-exclusive-8_2000x.jpg?v=1624570952", alt="screen1")
        .screen1Wrapper
            .quote
                h1 "A knife is only as good as the one who wields it."
                i -Patrick Ness
            .quote_img
                img(src="https://images.squarespace-cdn.com/content/v1/5a99da7a697a98dcc6ee8b0a/1597779928096-I7QIKZLB6RPXXEN1ITYL/Knife+photo+2.JPG", alt="quote_img")
    .Screen2
        .screen2Header
            h2 Why us?
        .screen2Cards
            .screen2Card1
            .screen2Card2
            .screen2Card3
    .Screen3
        
