body {
  margin: 0;
  background-color: #fff;
  font-family: 'Graduate', cursive;
}
a {
  text-decoration: none;
  color: #d9d9d9;
}
.logo > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo > a > img {
  min-height: 80px;
  max-height: 130px;
  filter: invert(90%);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 20vh;
  background-color: #242526;
  font-size: 45px;
}
.menu_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.body {
  height: 70%;
  background-color: #212126;
}
.Screen1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("https://images.unsplash.com/photo-1531027703659-9d95821c2933?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bGluZGl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: default;
}
.screen1Wrapper {
  height: inherit;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.quote {
  width: 40vw;
}
.quote > i {
  width: inherit;
  font-size: 30px;
  text-align: right;
}
.quote_img > img {
  width: 33vw;
}
.add_product {
  height: 50%;
}
.add_product > .heading_add_pr {
  font-size: 50px;
}
.products__item {
  height: 45vh;
  width: 20vw;
  margin: 3vh;
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  color: #242526;
}
.products__link {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #242526;
}
.products__link > a {
  color: #242526;
}
.products__button {
  text-decoration: none;
  width: 15vw;
  color: #242526;
}
.details {
  width: 10vw;
  text-decoration: none;
  border: 3px solid;
  border-radius: 20px;
}
.knive_h {
  color: #242526;
  text-align: center;
}
