body 
    display flex
    justify-content center
    align-items center
    margin 0
    min-height 100vh
    flex-direction column
    // body h2 {}
    h2
        color red
    // body > h1 {}
    &>h1
        color blue
        text-align center
    &:hover // body:hover
        background-color #eee
    
    form
        display flex
        flex-directiom column

.products
    display grid
    grid-template-columns repeat(4, 1fr)
    gap 40px

.products__item
    display flex
    padding 40px
    font-family sans-serif
    flex-direction column
    align-items center
    justify-content center
    box-shadow 0 0 5px 0 #000022
    cursor pointer
    &:hover 
        background-color #0002

